################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
/Infrastructure/bin/Debug/net8.0/Abstraction.dll
/Infrastructure/bin/Debug/net8.0/Abstraction.pdb
/Infrastructure/bin/Debug/net8.0/Core.dll
/Infrastructure/bin/Debug/net8.0/Core.pdb
/Infrastructure/bin/Debug/net8.0/Infrastructure.dll
/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/Core/bin/Debug/net8.0/Core.dll
/Core/bin/Debug/net8.0/Core.pdb
/BigCimApi/obj/Debug/net8.0/apphost.exe
/BigCimApi/obj/Debug/net8.0/BigCimApi.AssemblyInfo.cs
/BigCimApi/obj/Debug/net8.0/BigCimApi.AssemblyInfoInputs.cache
/BigCimApi/obj/Debug/net8.0/BigCimApi.csproj.AssemblyReference.cache
/BigCimApi/obj/Debug/net8.0/BigCimApi.csproj.CoreCompileInputs.cache
/BigCimApi/obj/Debug/net8.0/BigCimApi.dll
/BigCimApi/obj/Debug/net8.0/BigCimApi.pdb
/BigCimApi/obj/Debug/net8.0/BigCimApi.sourcelink.json
/BigCimApi/obj/Debug/net8.0/refint/BigCimApi.dll
/BigCimApi/obj/Debug/net8.0/ref/BigCimApi.dll
/BigCimApi/bin/Debug/net8.0/Abstraction.dll
/BigCimApi/bin/Debug/net8.0/Abstraction.pdb
/BigCimApi/bin/Debug/net8.0/Application.dll
/BigCimApi/bin/Debug/net8.0/Application.pdb
/BigCimApi/bin/Debug/net8.0/BigCimApi.dll
/BigCimApi/bin/Debug/net8.0/BigCimApi.exe
/BigCimApi/bin/Debug/net8.0/BigCimApi.pdb
/BigCimApi/bin/Debug/net8.0/Core.dll
/BigCimApi/bin/Debug/net8.0/Core.pdb
/BigCimApi/bin/Debug/net8.0/Infrastructure.dll
/BigCimApi/bin/Debug/net8.0/Infrastructure.pdb
/Application/bin/Debug/net8.0/Abstraction.dll
/Application/bin/Debug/net8.0/Abstraction.pdb
/Application/bin/Debug/net8.0/Application.dll
/Application/bin/Debug/net8.0/Application.pdb
/Application/bin/Debug/net8.0/Core.dll
/Application/bin/Debug/net8.0/Core.pdb
/Abstraction/bin/Debug/net8.0/Abstraction.dll
/Abstraction/bin/Debug/net8.0/Abstraction.pdb
/Abstraction/bin/Debug/net8.0/Core.dll
/Abstraction/bin/Debug/net8.0/Core.pdb
/Abstraction/obj/Debug/net8.0/ref/Abstraction.dll
/Abstraction/obj/Debug/net8.0/Abstraction.AssemblyInfo.cs
/Abstraction/obj/Debug/net8.0/Abstraction.AssemblyInfoInputs.cache
/Abstraction/obj/Debug/net8.0/Abstraction.csproj.AssemblyReference.cache
/Abstraction/obj/Debug/net8.0/Abstraction.csproj.CoreCompileInputs.cache
/Abstraction/obj/Debug/net8.0/Abstraction.dll
/Abstraction/obj/Debug/net8.0/Abstraction.pdb
/Abstraction/obj/Debug/net8.0/Abstraction.sourcelink.json
/Abstraction/obj/Debug/net8.0/refint/Abstraction.dll
